// #include <avr/io.h>
// #include <avr/interrupt.h>
// #include <avr/sleep.h>

#include <stdint.h>

int main() {
    
    // Setup
    
    // sei();

    while (1) {
        // Loop

        // set_sleep_mode(SLEEP_MODE_PWR_DOWN);
        // sleep_mode();
    }

    return 0;
}